/* Parent container */
.dash-grid {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
}

/* Nested container for vertical arrangement */
.main-content {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  padding: 20px; /* Adjust padding as needed */
}

/* Header */
.dash-title {
  background-color: aliceblue;
  margin: 0;
  padding: 30px;
}

/* Navbar */
.dash-nav {
  background-color: gray;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  gap: 40px;
}


